.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #040d15;
    margin: 0;
}

.icofont-bomb {
    color: #4bed8e;
    margin: 0.25em 0.5em;
    padding: 0;
    cursor: pointer;
}

.icofont-bomb:hover {
    color: #4bed8ebb;
    margin: 0.25em 0.5em;
    padding: 0;
    cursor: pointer;
}

ul {
    display: none;
}

@media only screen and (max-width: 974px) {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    li {
        list-style-type: none;
        margin-right: 2em;
        color: #ffffff;
        cursor: pointer;
    }
    
    li:hover {
        list-style-type: none;
        margin-right: 2em;
        color: #ffffffbf;
        cursor: pointer;
    }

    .active {
        margin-right: 2em;
        text-decoration-line: line-through;
        text-decoration-style: solid;
        text-decoration-color: #4bed8e;
        text-decoration-thickness: 0.275em;
        /* color: #4bed8e; */
        transition: text-decoration-line 1.2s;
        cursor: pointer;
    }
    
}

@media only screen and (max-width: 615px) {
    ul {
        display: none;
    }
    
    .menu {
        align-self: center;
        color: white;
        margin: 0 1em;
        padding: 0;
        cursor: pointer;
    }
    
    .menu:hover {
        align-self: center;
        color: white;
        margin: 0 1em;
        padding: 0;
        cursor: pointer;
        color: #ffffffbf;
    }
}

@media only screen and (min-width: 616px) {
    .menu {
        display: none;
    }
}