<div class="about-container">
    <div class="about-container1">
        <div class="cta-container">
            <h3>GET TO KNOW ME!</h3>

            <p>Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities. Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities. Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities. Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities.</p>

            <button>DOWNLOAD CV</button>
        </div>
    
        <div class="info-container">
            <div class="years-experience">
                <b>5+</b>
            </div>
        </div>
    </div>

    <hr>

    <div class="career-container">
        <h3>EXPERIENCE & EDUCATION</h3>

        <div class="container">
            <div class="experience-container">
                <div class="experience-entry">
                    <h6 class="duration">2018-PRESENT</h6>
                    <h4 class="Title">FULL STACK DEVELOPER</h4>
                    <p class="write-up">Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities. Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities.</p>
                </div>
                
                <div class="experience-entry">
                    <h6 class="duration">2018-PRESENT</h6>
                    <h4 class="Title">FULL STACK DEVELOPER</h4>
                    <p class="write-up">Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities. Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities.</p>
                </div>
            </div>
    
            <div class="education-container">
                <div class="experience-entry">
                    <h6 class="duration">2018-PRESENT</h6>
                    <h4 class="Title">FULL STACK DEVELOPER</h4>
                    <p class="write-up">Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities. Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities.</p>
                </div>
                
                <div class="experience-entry">
                    <h6 class="duration">2018-PRESENT</h6>
                    <h4 class="Title">FULL STACK DEVELOPER</h4>
                    <p class="write-up">Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities. Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities.</p>
                </div>
            </div>
        </div>

        <h6>Learn More</h6>
    </div>
    
    <h5>Here are the technologies I have been using recently</h5>

    <div class="tech-container">
        <ul className="languages"><thead><b>Languages</b></thead>
            <li><img src="../../../assets/svg-holding/html5-svgrepo-com.svg"> HTML</li>
            <li><img src="../../../assets/svg-holding/css3-svgrepo-com.svg"> CSS</li>
            <li><img src="../../../assets/svg-holding/javascript-logo-svgrepo-com.svg"> JavaScript</li>
            <li><img src="../../../assets/svg-holding/c-sharp-svgrepo-com.svg"> C#</li>
            <li><img src="../../../assets/svg-holding/sql-database-sql-azure-svgrepo-com.svg"> SQL</li>
        </ul>
        
        <ul className="frameworks"><thead><b>Frameworks</b></thead>
            <li><img src="../../../assets/svg-holding/angular-icon-svgrepo-com.svg"> Angular</li>
            <li><img src="../../../assets/svg-holding/dotnet-svgrepo-com.svg"> .NET</li>
        </ul>
        
        <ul className="tools"><thead><b>Tools</b></thead>
            <li><img src="../../../assets/svg-holding/linux-svgrepo-com.svg"> Linux</li>
            <li><img src="../../../assets/svg-holding/terminal-svgrepo-com.svg"> Terminal</li>
            <li><img src="../../../assets/svg-holding/visual-studio-code-svgrepo-com.svg"> VS Code</li>
            <li><img src="../../../assets/svg-holding/git-icon-svgrepo-com.svg"> Git</li>
            <li><img src="../../../assets/svg-holding/docker-icon-svgrepo-com.svg"> Docker</li>
            <li><img src="../../../assets/svg-holding/kubernetes-svgrepo-com.svg"> Kubernetes</li>
            <li><img src="../../../assets/svg-holding/azure-1-logo-svgrepo-com.svg"> MS Azure</li>
            <li><img src="../../../assets/svg-holding/aws-svgrepo-com.svg"> AWS</li>
        </ul>
    </div>
</div>