.about-container {
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    width: 100%;
}

.about-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 65%;
    margin-bottom: 2em;
}

p {
    margin: 0;
    padding: 0;
    max-width: 40em;
    color: #919191;
}
.cta-container {
    display: flex;
    flex-direction: column;
}

.info-container {
    width: 40em;
    height: 13em;
    border-style: solid;
    border-color: #4bed8e;
}

.years-experience {
    padding: 0.25em;
    font-size: 5em;
    color: #4bed8e;
}

hr {
    align-self: center;
    width: 25%;
    color: #4bed8e;
}

.career-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 2em 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.experience-entry {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin: 2em 0;
    padding: 1em;
    border-left-style: solid;
    border-left-color: #4bed8e;
}

h6 {
    color: white;
    text-align: center;
}

.tech-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em 0;
}

thead {
    color: white;
}

img {
     width: 1em;
     
}

.icofont {
    color: #4bed8e;
}

li {
    color: white;
    list-style-type: none;
    margin: 0.25em 0;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    font-family: monospace;
    color: #4bed8e;
    text-align: center;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: monospace;
    color: #4bed8e;
    max-width: 11em;
    margin: 0.75em 0;
    padding: 0.75em;
    border-style: solid;
    border-color: #4bed8e;
    border-radius: 5%;
    background-color: #8b000000;
    transition: background-color 1s;
    cursor: pointer;
}

button:hover {
    background-color: #4bed8e3c;
    transition: background-color 1s;
}

@media only screen and (max-width: 2559px) {
    .about-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        width: 100%;
        margin-top: 25em;
    }
    
    p {
        margin: 0;
        padding: 0;
        max-width: 40em;
        color: #919191;
    }
    .cta-container {
        display: flex;
        flex-direction: column;
    }
    
    .info-container {
        width: 40em;
        height: 13em;
        border-style: solid;
        border-color: #4bed8e;
    }
    p {
        margin: 0;
        padding: 0;
        max-width: 40em;
        color: #919191;
    }
}

@media only screen and (max-width: 1439px) {
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 45em;
        width: 100%;
    }

    .about-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .cta-container {
        align-self: flex-start;
    }
    
    p {
        margin: 0;
        padding: 0;
        max-width: 30em;
        color: #919191;
    }

    .info-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 20em;
        height: 10em;
        margin: 0;
        padding: 0;
    }

    .career-container {
        justify-content: center;
    }

    .experience-entry {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        margin: 2em 0;
        padding: 1em;
        border-left-style: solid;
        border-left-color: #4bed8e;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }
    
    button {
        font-family: monospace;
        color: #4bed8e;
        width: 11em;
        margin: 0.75em 0;
        padding: 0.75em;
        border-style: solid;
        border-color: #4bed8e;
        border-radius: 5%;
        background-color: #8b000000;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #4bed8e3c;
    }
}

@media only screen and (max-width: 1100px) {
    .about-container1 {
        flex-direction: column;
    }

    p {
        width: 100%;
    }

    .info-container {
        width: 100%;
    }
}

@media only screen and (max-width: 1023px) {
    .about-container {
        padding-top: 65em;
    }

    .about-container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .cta-container {
        align-self: center;
    }

    .info-container {
        align-self: center;
        width: 65%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
    }
}

@media only screen and (max-width: 767px) {
    .about-container {
        display: flex;
        flex-direction: column;
        padding-top: 70em;
    }

    .info-container {
        width: 100%;
        height: 10em;
        border-style: solid;
        border-color: #4bed8e;
    }
}

@media only screen and (max-width: 424px) {
    .about-container {
        padding-top: 75em;
    }
}

@media only screen and (max-width: 374px) {
    .about-container {
        padding-top: 85em;
    }
}

