<div>
  <!-- header-slider-area start -->
  <section class="header-slider-area">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="single-slide-item slide-1">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="single-slide-item-content">
                    <h2>Consult Your <br> Business With Us</h2>
                    <p>
                      We are the unique Consultancy Farm for your business solution, That is ready to take challenge and
                      knockout your business problems.
                    </p>
                    <button type="button" class="slide-btn">
                      get started
                    </button>
                    <button type="button" class="slide-btn">
                      explore more
                    </button>

                  </div><!-- /.single-slide-item-content-->
                </div><!-- /.col-->
              </div><!-- /.row-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->
        </div><!-- /.item .active-->
        <div class="item">
          <div class="single-slide-item slide-2">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="single-slide-item-content">
                    <h2>
                      Consult Your <br> Business
                    </h2>
                    <p>
                      We are the unique Consultancy Farm for your business solution, That is ready to take challenge and
                      knockout your business problems.
                    </p>
                    <button type="button" class="slide-btn">
                      get started
                    </button>
                    <button type="button" class="slide-btn
                    ">
                      explore more
                    </button>
                  </div><!-- /.single-slide-item-content-->

                </div><!-- /.col-->
              </div><!-- /.row-->
            </div><!-- /.container-->
          </div><!-- /.single-slide-item-->
        </div><!-- /.item .active-->
      </div><!-- /.carousel-inner-->

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="lnr lnr-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="lnr lnr-chevron-right"></span>
      </a>
    </div><!-- /.carousel-->

  </section><!-- /.header-slider-area-->
  <!-- header-slider-area end -->

  <!--we-do start -->
  <section class="we-do">
    <div class="container">
      <div class="we-do-details">
        <div class="section-header text-center">
          <h2>what we do</h2>
          <p>
            Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
        <!--/.section-header-->
        <div class="we-do-carousel">
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="single-we-do-box text-center">
                <div class="we-do-description">
                  <div class="we-do-info">
                    <div class="we-do-img">
                      <img src="../../../assets/images/home/consultency.png" alt="image of consultency" />
                    </div>
                    <!--/.we-do-img-->
                    <div class="we-do-topics">
                      <h2>
                        <a href="#">
                          Business Consultancy
                        </a>
                      </h2>
                    </div>
                    <!--/.we-do-topics-->
                  </div>
                  <!--/.we-do-info-->
                  <div class="we-do-comment">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ul.
                    </p>
                  </div>
                  <!--/.we-do-comment-->
                </div>
                <!--/.we-do-description-->
              </div>
              <!--/.single-we-do-box-->
            </div>
            <!--/.col-->
            <div class="col-sm-4 col-xs-12">
              <div class="single-we-do-box text-center">
                <div class="we-do-description">
                  <div class="we-do-info">
                    <div class="we-do-img">
                      <img src="../../../assets/images/home/busisness_grow.png" alt="image of business" />
                    </div>
                    <!--/.we-do-img-->
                    <div class="we-do-topics">
                      <h2>
                        <a href="#">
                          help to grow Business
                        </a>
                      </h2>
                    </div>
                    <!--/.we-do-topics-->
                  </div>
                  <!--/.we-do-info-->
                  <div class="we-do-comment">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ul.
                    </p>
                  </div>
                  <!--/.we-do-comment-->
                </div>
                <!--/.we-do-description-->
              </div>
              <!--/.single-we-do-box-->
            </div>
            <!--/.col-->
            <div class="col-sm-4 col-xs-12">
              <div class="single-we-do-box text-center">
                <div class="we-do-description">
                  <div class="we-do-info">
                    <div class="we-do-img">
                      <img src="../../../assets/images/home/support-logo.png" alt="image of support" />
                    </div>
                    <!--/.we-do-img-->
                    <div class="we-do-topics">
                      <h2>
                        <a href="#">
                          great support
                        </a>

                      </h2>
                    </div>
                    <!--/.we-do-topics-->
                  </div>
                  <!--/.we-do-info-->
                  <div class="we-do-comment">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ul.
                    </p>
                  </div>
                  <!--/.we-do-comment-->
                </div>
                <!--/.we-do-description-->
              </div>
              <!--/.single-we-do-box-->
            </div>
            <!--/.col-->
          </div>
          <!--/.row-->
        </div>
        <!--/.we-do-carousel-->
      </div>
      <!--/.we-do-details-->
    </div>
    <!--/.container-->

  </section>
  <!--/.we-do-->
  <!--we-do end-->

  <!--about-us start -->
  <section class="about-us">
    <div class="container">
      <div class="about-us-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="single-about-us">
              <div class="about-us-txt">
                <h2>about us</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                </p>
                <div class="project-btn">
                  <a href="#" class="project-view">learn more
                  </a>
                </div>
                <!--/.project-btn-->
              </div>
              <!--/.about-us-txt-->
            </div>
            <!--/.single-about-us-->
          </div>
          <!--/.col-->
          <div class="col-sm-6">
            <div class="single-about-us">
              <div class="about-us-img">
                <img src="../../../assets/images/about/about-part.jpg" alt="about images">
              </div>
              <!--/.about-us-img-->
            </div>
            <!--/.single-about-us-->
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
      <!--/.about-us-content-->
    </div>
    <!--/.container-->

  </section>
  <!--/.about-us-->
  <!--about-us end -->

  <!--project start-->
  <section id="project" class="project">
    <div class="container">
      <div class="project-details">
        <div class="project-header text-left">
          <h2>Our Success</h2>
          <p>
            Pallamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <!--/.project-header-->
        <div class="project-content">
          <div class="gallery-content">
            <div class="isotope">
              <div class="row">
                <div class=" col-md-4 col-sm-12">
                  <div class="item big-height">
                    <img src="../../../assets/images/project/project1.jpg" alt="portfolio image" />
                    <div class="isotope-overlay">
                      <a href="project.html">
                        <span class="lnr lnr-link"></span>

                      </a>
                      <h3>
                        <a href="project.html">
                          acquisition plan
                        </a>
                      </h3>
                      <p>business planning</p>
                    </div><!-- /.isotope-overlay -->
                  </div><!-- /.item -->
                </div><!-- /.col -->
                <div class="col-md-8 col-sm-12">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <div class="item">
                        <img src="../../../assets/images/project/project2.jpg" alt="portfolio image" />
                        <div class="isotope-overlay">
                          <a href="project.html">
                            <span class="lnr lnr-link"></span>

                          </a>
                          <h3>
                            <a href="project.html">
                              acquisition plan
                            </a>
                          </h3>
                          <p>business planning</p>
                        </div><!-- /.isotope-overlay -->
                      </div><!-- /.item -->
                    </div><!-- /.col -->
                    <div class="col-sm-6 col-xs-12">
                      <div class="item">
                        <img src="../../../assets/images/project/project3.jpg" alt="portfolio image" />
                        <div class="isotope-overlay">
                          <a href="project.html">
                            <span class="lnr lnr-link"></span>

                          </a>
                          <h3>
                            <a href="project.html">
                              acquisition plan
                            </a>
                          </h3>
                          <p>business planning</p>
                        </div><!-- /.isotope-overlay -->
                      </div><!-- /.item -->
                    </div><!-- /.col -->
                  </div><!-- /.row-->
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <div class="item">
                        <img src="../../../assets/images/project/project4.jpg" alt="portfolio image" />
                        <div class="isotope-overlay">
                          <a href="project.html">
                            <span class="lnr lnr-link"></span>

                          </a>
                          <h3>
                            <a href="project.html">
                              acquisition plan
                            </a>
                          </h3>
                          <p>business planning
                          </p>
                        </div><!-- /.isotope-overlay -->
                      </div><!-- /.item -->
                    </div><!-- /.col -->
                    <div class="col-sm-6 col-xs-12">
                      <div class="item">
                        <img src="../../../assets/images/project/project5.jpg" alt="portfolio image" />
                        <div class="isotope-overlay">
                          <a href="project.html">
                            <span class="lnr lnr-link"></span>

                          </a>
                          <h3>
                            <a href="project.html">
                              acquisition plan
                            </a>
                          </h3>
                          <p>business planning
                          </p>
                        </div><!-- /.isotope-overlay -->
                      </div>
                      <!--/.item -->
                    </div><!-- /.col -->
                  </div><!-- /.row-->

                </div><!-- /.col -->
              </div><!-- /.row -->

            </div>
            <!--/.isotope-->
          </div>
          <!--/.gallery-content-->
        </div>
        <!--/.project-content-->
      </div>
      <!--/.project-details-->
      <div class="project-btn text-center">
        <a href="project.html" class="project-view">view all
        </a>
      </div>
      <!--/.project-btn-->
    </div>
    <!--/.container-->

  </section>
  <!--/.project-->
  <!--project end-->

  <!--about-us start -->
  <section class="about-us">
    <div class="container">
      <div class="about-us-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="single-about-us">
              <div class="about-us-txt">
                <h2>how we're giving back</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                </p>
                <div class="project-btn">
                  <a href="#" class="project-view">learn more
                  </a>
                </div>
                <!--/.project-btn-->
              </div>
              <!--/.about-us-txt-->
            </div>
            <!--/.single-about-us-->
          </div>
          <!--/.col-->
          <div class="col-sm-6">
            <div class="single-about-us">
              <div class="about-us-img">
                <img src="../../../assets/images/about/about-part.jpg" alt="about images">
              </div>
              <!--/.about-us-img-->
            </div>
            <!--/.single-about-us-->
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
      <!--/.about-us-content-->
    </div>
    <!--/.container-->

  </section>
  <!--/.about-us-->
  <!--about-us end -->

  <!--nwes start -->
  <section class="news">
    <div class="container">
      <div class="news-details">
        <div class="section-header text-center">
          <h2>our latest news</h2>
          <p>
            Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
        <!--/.section-header-->
        <div class="news-card news-card-pb-25">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="single-news-box">
                <div class="news-box-bg">
                  <img src="../../../assets/images/blog/bl1.jpg" alt="blog image">
                  <div class="isotope-overlay">
                    <a href="blog_single.html">
                      <span class="lnr lnr-link"></span>

                    </a>
                  </div>

                </div>
                <!--/.team-box-bg-->
                <div class="news-box-inner">
                  <h3>
                    <a href="blog_single.html">
                      The Pros and Cons of Starting an Online Consulting Business
                    </a>
                  </h3>
                  <p class="news-meta">
                    Posted By: <span>Mick Steven</span> // On <span>12th June, 2017</span>
                  </p>
                  <!-- <a href="#" class="learn-btn">
                      learn more
                    </a> -->
                </div>
                <!--/.news-box-inner-->
              </div>
              <!--/.single-news-box-->
            </div>
            <!--.col-->
            <div class="col-md-4 col-sm-6">
              <div class="single-news-box">
                <div class="news-box-bg">
                  <img src="../../../assets/images/blog/bl2.jpg" alt="blog image">
                  <div class="isotope-overlay">
                    <a href="blog_single.html">
                      <span class="lnr lnr-link"></span>

                    </a>
                  </div>

                </div>
                <!--/.team-box-bg-->
                <div class="news-box-inner">
                  <h3>
                    <a href="blog_single.html">
                      8 Secrets for Your successful Business Mentor Won't Tell You
                    </a>
                  </h3>
                  <p class="news-meta">
                    Posted By: <span>Mick Steven</span> // On <span>12th June, 2017</span>
                  </p>
                  <!-- <a href="#" class="learn-btn">
                      learn more
                    </a> -->
                </div>
                <!--/.news-box-inner-->
              </div>
              <!--/.single-news-box-->
            </div>
            <!--.col-->
            <div class="col-md-4 col-sm-6">
              <div class="single-news-box">
                <div class="news-box-bg">
                  <img src="../../../assets/images/blog/bl3.jpg" alt="blog image">
                  <div class="isotope-overlay">
                    <a href="blog_single.html">
                      <span class="lnr lnr-link"></span>

                    </a>
                  </div>

                </div>
                <!--/.team-box-bg-->
                <div class="news-box-inner">
                  <h3>
                    <a href="blog_single.html">
                      Hire a Branding Consultant With a Similar Aesthetic to Your Own
                    </a>
                  </h3>
                  <p class="news-meta">
                    Posted By: <span>Mick Steven</span> // On <span>12th June, 2017</span>
                  </p>
                  <!-- <a href="#" class="learn-btn">
                      learn more
                    </a> -->
                </div>
                <!--/.news-box-inner-->
              </div>
              <!--/.single-news-box-->
            </div>
            <!--.col-->
          </div>
          <!--/.row-->
          <div class="project-btn text-center">
            <a href="blog.html" class="project-view">read more
            </a>
          </div>
          <!--/.project-btn-->
        </div>
        <!--/.news-card-->

      </div>
      <!--/news-details-->
    </div>
    <!--/.container-->

  </section>
  <!--/news-->
  <!--news end-->
</div>