<div class="home-container">
  <div class="home-container1">
    <h4>Hi, my name is</h4>
    
    <div class="title">
      <h1>Daniel Hopson.</h1>
    </div>

    <h1>I build things for the web.</h1>
    <div class="paragraph">
      <p>I am a software developer in Dallas, Texas specializing in building beautiful UX/UI designs that deliver exceptional digital experiences. Currently, I'm focused on building a blog with the Angular and .NET frameworks.</p>
    </div>

    <button routerLink="contact">GET IN TOUCH</button>
  </div>
</div>
