<div id="">
  <p>Web &nbsp;&bull;&nbsp; Mobile &nbsp;&bull;&nbsp; Game &nbsp;&bull;&nbsp; Blockchain</p>
  <nav>
      <ul>
        <li><a href="https://twitter.com/gohopventure" target="blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://instagram.com/gohopventure" target="blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/gohopventure" target="blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a routerLink="/contact" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
      </ul>
    </nav>
</div>
