<div class="img-container">
    <div class="img" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="icofont-home icofont-1x"></i>
    </div>

    <div class="img" routerLink="about" routerLinkActive="active">
        <i class="icofont-user-male icofont-1x"></i>
    </div>

    <div class="img">
        <i class="icofont-briefcase icofont-1x"></i>
    </div>

    <div class="img" routerLink="contact" routerLinkActive="active">
        <i class="icofont-envelope-open icofont-1x"></i>
    </div>

    <!-- <div class="img">
        <i class="icofont-pencil-alt-1 icofont-1x"></i>
    </div> -->
</div>