@media (min-width: 975px) {
    .img-container {
        height: 15em;
        width: 7em;
        margin: 0 0 0 2em;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        align-items: flex-start;
        /* background-color: red; */
    }
    
    .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 2em;
        width: 2em;
        margin: 1em 0;
        background-color: #06060a;
        cursor:pointer;
    }
    
    .img:hover {
        width: 9em;
        align-items: flex-start;
        /* max-width: 9em; */
        transition: width 0.75s;
        border-radius: 50px;
        background-color: #4bed8e;
    }

    .icofont-1x {
        color: white;
        margin: 0 0.5em;
        padding: 0;
    }

    .img:hover .icofont-1x {
        color: #06060a;
        padding: 0;
        margin: 0 0.5em;
    }

    .active {
        /* width: 9em; */
        align-items: flex-start;
        /* max-width: 9em; */
        transition: width 0.75s;
        border-radius: 50px;
        background-color: #4bed8e;
    }

    .active .icofont-1x {
        color: #06060a;
        padding: 0;
        margin: 0 0.5em;    
    }
}

@media (max-width: 974px) {
    .icofont-1x {
        display: none
    }
}