<div class="contact-container">
    <div class="contact-container1">
        <div class="container">
            <div class="cta-container">
                <h3>LET'S CONNECT!</h3>
                <p>Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities.</p>
            </div>
            
            <ul class="icofont-ul" className="icofont-ul">
                <li><span class="icofont icofont-email"></span> hdhopson@gmail.com</li>
                <li><span class="icofont icofont-phone"></span> 8709183093</li>
            </ul>
        </div>
    
        <form>
            <div class="form-container1">
                <input type="text" placeholder="NAME">
                <input type="text" placeholder="EMAIL">
                <input type="text" placeholder="SUBJECT">
            </div>
    
            <div class="form-container2">
                <textarea type="text" placeholder="MESSAGE"></textarea>
                <button>SEND MESSAGE</button>
            </div>
        </form>
    </div>
</div>