<div class="contact-container">
    <div class="contact-container1">
        <div class="container">
            <div class="cta-container">
                <h3>LET'S CONNECT!</h3>
                <p>Feel free to connect with me. I always welcome the chance to take part in discussions of new projects, ideas, and opportunities.</p>
            </div>
            
            <ul class="icofont-ul" className="icofont-ul">
                <li><span class="icofont icofont-email"></span> hdhopson@gmail.com</li>
                <li><span class="icofont icofont-phone"></span> 8709183093</li>
            </ul>
        </div>
    
        <form name="contact" method="POST" data-netlify="true">
            <p>
              <label>Your Name: <input type="text" name="name" /></label>   
            </p>
            <p>
              <label>Your Email: <input type="email" name="email" /></label>
            </p>
            <p>
              <label>Message: <textarea name="message"></textarea></label>
            </p>
            <p>
              <button type="submit">Send Message</button>
            </p>
          </form>
          
    </div>
</div>