<div>
    <p>Email: hdhopson@gmail.com</p>
    <form name="contact" method="POST" netlify>
        <div class="form-container1">
            <label>
                <input type="text" name="name" placeholder="NAME">
            </label>
            
            <label>
                <input type="email" name="email" placeholder="EMAIL">
            </label>
        </div>

        <div class="form-container2">
            <label>
                <textarea name="message" placeholder="MESSAGE"></textarea>
            </label>

            <button type="submit">LET'S CONNECT</button>
        </div>

        <input type="hidden" name="form-name" value="contact" />
    </form>
</div>
  