app-header {
    width: 100%;
    position: fixed;
}

app-site-icons {
    position: fixed;
    top: 11em;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

app-social-icons {
    position: fixed;
    top: 11em;
    right: 0px;
    height: 100%;
}

footer {
    height: 0.025em;
}

@media only screen and (max-width: 1325px) {
    main {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 615px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0 2em;
    }
}